<<<<<<< HEAD
ul {
  @extend %font-italic;
  @extend %font-large;
  list-style-type: none;
}

li {
  @extend %inline;
  @extend %font-large;
  @extend %text-center;
}

.index {
  @extend %text-center;
}

a {
  color: $text-color;
}

p {
  @extend %font-bold;
}

body {
  background-color: $background-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: $font-family;
  margin: 0;
=======
ul {
  @extend %font-italic;
  @extend %font-large;
  list-style-type: none;
}

li {
  @extend %inline;
  @extend %font-large;
  @extend %text-center;
}

.index {
  @extend %text-center;
}

a {
  color: $text-color;
}

p {
  @extend %font-bold;
}

body {
  background-color: $background-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: $font-family;
  margin: 0;
>>>>>>> 02efe8af79aac4c8842780d28081bdf77105283f
}