header {
  background-color: $header-bg-color;
  @extend %padding-20;
  @extend %text-center;
  
  h1 {
    color: $link-color;
    font-size: $font-size-large;
    @extend %no-margin;
  }
}

nav .index {
  @extend %list-reset;
  @extend %flex-center;
  gap: 20px;
  margin-top: 10px;

  li {
    @extend %inline;
  }

  a {
    color: $link-color;
    text-decoration: none;
    padding: 10px 20px;
    background-color: $nav-bg-color;
    border-radius: 5px;
    @extend %hover-bg-change;
  }
}
  