@media (max-width: 768px) {
    header h1 {
      font-size: $font-size-medium;
    }
  
    nav .index {
      flex-direction: column;
      align-items: center;
    }
  
    nav .index a {
      padding: 10px;
      margin-bottom: 5px;
    }
  
    .remeras, .pantalones, .buzos {
      flex-direction: column;
      align-items: center;
  
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  
  @media (max-width: 480px) {
    header h1 {
      font-size: $font-size-small;
    }
  
    .remeras, .pantalones, .buzos img {
      height: auto;
      width: 100%;
    }
  }
  