main {
  padding: 20px;
}

.menu {
  width: 150px;
  height: 100vh;
  background: linear-gradient(180deg, #000, #333); // Gradiente de negro a gris oscuro
  color: $background-color;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  font-size: 120%;
  
  a {
    color: $link-color;
    text-decoration: none;
    margin: 15px 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

.remeras, .pantalones, .buzos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  left: 60px;

  img {
    border: solid;
    display: inline;
    background: linear-gradient(135deg, #ffcc00, #ff6600); 
  }

  form {
    select {
      margin-bottom: 10px;
      background: linear-gradient(90deg, #e0e0e0, #ffffff); 
    }

    input[type="submit"] {
      margin-top: 10px;
      background: linear-gradient(90deg, #007bff, #0056b3);
      color: white;
    }
  }
}